<!-- Edit Restaurant Page -->
  <div class="error-messages">
    <ul>
      <% if @errors %>
        <% @errors.each do |error| %>
        <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <p class = "login-header">Edit Restaurant Information</p>
    <form method="post" action="/restaurants/<%="#{@restaurant.id}"%>" class="login-form">
      <input type="hidden" name="_method" value="put">
      <label for="name">Name:</label>
      <input type="text" name="restaurant[name]" value="<%=@restaurant.name%>"><br>
      <label for="cuisine">Cuisine:</label>
      <input type="text" name="restaurant[cuisine]" value="<%=@restaurant.cuisine%>"><br>
      <label for="address">Address:</label>
      <input type="text" name="restaurant[address]" value="<%=@restaurant.address%>"><br>
      <label for="city">City:</label>
      <input type="text" name="restaurant[city]" value="<%=@restaurant.city%>"><br>
      <label for="state">State:</label>
      <input type="text" name="restaurant[state]" value="<%=@restaurant.state%>"><br>
      <label for="zipcode">Zipcode:</label>
      <input type="text" name="restaurant[zipcode]" value="<%=@restaurant.zipcode%>"><br>
      <input type="submit" value="Submit Revision">
    </form>
  <div>

